/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-dic-2014, 8:53:33
    Author     : Javier Oltra Riera
*/
@font-face {
    font-family: Vivaldi;
    src: url("../fonts/Vivaldi.ttf") format("True type");
}
body{
    background: url(../images/pattern.png)top left repeat;
}

#wrapper{
    height: 900px;
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
    
}
header{
    background: url("../images/cabecera.png");
    width: 1024px;
    height: 200px;
    background-size: 90%;
    background-repeat: no-repeat;
}
nav{
    text-align: center;
    padding: auto;
    width: 1026px;
    height: 50px;
}
#main{
    background: #a7bc7a url(../images/pattern.png)top left repeat;
    padding-right:25px; 
    width: 999px;
    height: 500px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #839b4e;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}
#fotos{
    position: absolute;
    margin-top: 30px;
    margin-left: 100px;
    width: 500px;
    height: 325px;
}
#fotos img{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 500px;
    height: 325px;
    animation: animacion_fotos 10s linear infinite;
    -webkit-animation: animacion_fotos 10s linear infinite;
}
@keyframes animacion_fotos{

    0% {opacity: 0;margin-left: -100px;}
    50% {opacity: 1;margin-left: 0px;}
    100% {opacity: 0;margin-left: 100px;}
}
@-webkit-keyframes animacion_fotos{
    0% {opacity: 0;margin-left: -100px;}
    50% {opacity: 1;margin-left: 0px;}
    100% {opacity: 0;margin-left: 100px;}

}

#banner{
    margin-left: 800px;
    position: absolute;
    margin-top: 30px;
    width: 200px;
    height: 325px;
    border: 1px solid black;
}

footer{
    text-align: center;
    padding-top: 35px;
    background: #a7bc7a url(../images/pattern.png)top left repeat;
    width: 1024px;
    height: 95px;
    margin-top: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #839b4e;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

#formulario{
    box-shadow: black;
    background: white url(../images/pattern.png)top left repeat;
    padding: 10px;
    width: 535px;
    border-radius: 5px;
    border: 1px solid #000000;
    margin-left: 230px;
    margin-top:0px;
    font-size: 18px;
    
    font-family: Arial;
}
#main h2{
    margin-top: 0px;
    font-family: Vivaldi;
    text-align: center;
    color: white;
    font-size: 35px;
}
#formulario table{
    height:375px;
    width: 300px;
}
#formulario input{
    width: 250px;
    border-radius: 5px;
    border: 1px solid black;
}
#Contenedortexto{
    position:absolute;
    background-color: #586835;
    /* border: 1px solid;*/
    width: 1024px;
    height: 60px;
    margin-top: 410px;
    overflow: hidden;
}
#texto{
    font-family: Arial;
    margin-top: 15px;
    width: 6700px;
    height: 60px;
    font-size: 25px;
    color:white;
    margin-left: 1000px;
    animation: animacion_texto 50s linear infinite;
    -webkit-animation: animacion_texto 50s linear infinite;
}
@keyframes animacion_texto{
    0% {margin-left: 1024px;}
    100% {margin-left: -6700px;}
}
@-webkit-keyframes animacion_texto{
    0% {margin-left: 1024px;}
    100% {margin-left: -6700px;}

}
/*Boton del formulario*/
.btn {
  background: #a7bc7a;
  background-image: -webkit-linear-gradient(top, #a7bc7a, #586835);
  background-image: -moz-linear-gradient(top, #a7bc7a, #586835);
  background-image: -ms-linear-gradient(top, #a7bc7a, #586835);
  background-image: -o-linear-gradient(top, #a7bc7a, #586835);
  background-image: linear-gradient(to bottom, #a7bc7a, #586835);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 21px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background:  #586835;
  background-image: -webkit-linear-gradient(top,  #586835, #a7bc7a);
  background-image: -moz-linear-gradient(top,  #586835, #a7bc7a);
  background-image: -ms-linear-gradient(top,  #586835, #a7bc7a);
  background-image: -o-linear-gradient(top,  #586835, #a7bc7a);
  background-image: linear-gradient(to bottom,  #586835, #a7bc7a);
  text-decoration: none;
}

footer a{
    color:white;
    font-family: Arial;
    font-size: 17px;
    margin-left: 50px;
    text-decoration: none;
}
footer p{
    color:white;
    font-family: Arial;
    font-size: 17px;
    margin-left: 50px;
    margin-left: 50px;
}

/*Menu*/

#cssmenu,
#cssmenu ul,
#cssmenu li #cssmenu a {
    list-style: none;
    margin:0;
    padding: 0;
    border: 0;
    font-size: 22px;
    font-family: Helvetica;
    line-height: 1;
}
#cssmenu {
    width: auto;
}
#cssmenu ul {
    zoom: 1;
    background: #a7bc7a url(../images/pattern.png) top left repeat;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #839b4e;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
#cssmenu ul:before {
    content: '';
    display: block;
}
#cssmenu ul:after {
    content: '';
    display: table;
    clear: both;
}
#cssmenu a,
#cssmenu a:link,
#cssmenu a:visited {
    padding: 15px 20px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 -1px 1px #586835;
}
#cssmenu a:hover{
    color: #586835;
    text-shadow: 0 1px 1px #bdcd9c;
}
.active {
    background: #586835 url(../images/pattern.png) top left repeat;
}
#cssmenu li {
    width: 203px;
    float: left;
    border-right: 1px solid #b2c58b;
}
#cssmenu li:hover {
    background: #9cb369 url(../images/pattern.png) top left repeat;
}
#cssmenu li:last-child {
    border-right: none;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

